node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Ignition deployment files
**/deployments/chain-84532/**/deployed_addresses.json
**/deployments/chain-84532/**/journal.jsonl
**/deployments/chain-84532/**/artifacts/
**/deployments/chain-84532/**/build-info/